#OPEN AI API KEY
OPENAI_API_KEY=
#OPEN AI EMBEDDING MODEL
OPENAI_MODEL=
##GOOGLE GEMIN EMBEDDING MODEL
GOOGLE_MODEL=
#GOOGLE GEMINI API KEY
GOOGLE_API_KEY=
#POSTGRES VECTOR DATABASE URL
PGVECTOR_URL=postgresql+psycopg://postgres:postgres@host.docker.internal:5432/rag
#POSTGRES VECTOR DATABASE COLLECTION NAME
PGVECTOR_COLLECTION=busca_collection