#OPEN AI API KEY
OPENAI_API_KEY=
OPENAI_MODEL=
#GOOGLE GEMINI API KEY
GOOGLE_API_KEY=
#POSTGRES VECTOR DATABASE URL
PGVECTOR_URL=postgresql+psycopg://postgres:postgres@host.docker.internal:5432/rag
#POSTGRES VECTOR DATABASE COLLECTION NAME
PGVECTOR_COLLECTION=gpt5_collection